@* @model Orion.DataAccess.Postgres.Entities.Common.CalendarEvent *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Delete Event"; *@
@* } *@
@* *@
@* <h1>Delete Calendar Event</h1> *@
@* *@
@* <div> *@
@*     <h4>@Model.Country</h4> *@
@*     <p><strong>Date:</strong> @Model.Date?.ToString("dddd, MMM dd yyyy hh:mm tt")</p> *@
@* </div> *@
@* *@
@* <form asp-action="DeleteConfirmed" method="post"> *@
@*     <input type="hidden" asp-for="Id" /> *@
@*     <button type="submit" class="btn btn-danger">Confirm Delete</button> *@
@*     <a asp-action="Index" class="btn btn-secondary">Cancel</a> *@
@* </form> *@
@* *@
